{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="container">
  Aceitação dos Termos de Uso:
Ao usar nosso site de gerenciamento de atividades pendentes, você concorda em cumprir estes termos de uso e quaisquer outras políticas relacionadas. Se você não concordar com estes termos, por favor, não use o site.

Uso Responsável:
Você concorda em usar o site de forma responsável, seguindo todas as leis aplicáveis e respeitando os direitos de terceiros. Você é o único responsável por todas as atividades realizadas através da sua conta.

Privacidade e Dados Pessoais:
Comprometemo-nos a proteger sua privacidade e os dados pessoais fornecidos. Leia nossa Política de Privacidade para entender como coletamos, usamos e protegemos suas informações.

Conteúdo Gerado pelo Usuário:
Qualquer conteúdo que você enviar, compartilhar ou publicar no site é de sua exclusiva responsabilidade. Você concede à empresa uma licença irrevogável para usar, modificar e exibir o conteúdo fornecido.

Propriedade Intelectual:
Todo o conteúdo do site, incluindo logotipos, textos, imagens, vídeos e marcas registradas, é protegido por direitos autorais e outras leis de propriedade intelectual. Você concorda em respeitar todos os direitos de propriedade intelectual relacionados ao site.

Limitação de Responsabilidade:
O site é fornecido "no estado em que se encontra", e não garantimos a disponibilidade contínua, precisão ou confiabilidade do mesmo. Não seremos responsáveis por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso do site.

Links para Terceiros:
O site pode conter links para sites de terceiros. Esses links são fornecidos apenas para sua conveniência, e não somos responsáveis pelo conteúdo ou pela disponibilidade desses sites.

Modificações dos Termos de Uso:
Reservamos o direito de modificar ou atualizar estes termos de uso a qualquer momento, sem aviso prévio. É sua responsabilidade revisar periodicamente os termos para estar ciente de quaisquer alterações.

Encerramento da Conta:
Reservamos o direito de encerrar sua conta ou restringir seu acesso ao site, a nosso critério, sem aviso prévio ou responsabilidade.


</section>    

{% endblock body %}