<footer class="footer container d-flex align-items-center">
    <div class="info">
        &copy; 2023 - Academy Task Hub
    </div>
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Juan-Severiano/to-do-list">
                    <i class="bi bi-github"></i> Github
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi bi-file-earmark-richtext-fill"></i> Termos
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="">
                <i class="bi bi-text-indent-left"></i> Sobre
                </a>
            </li>
        </ul>
    </div>
</footer>