<header class="d-flex align-items-center justify-content-between text-white" style="height: 15vh; background-color: #080808;">
    <h1 class="title" style="padding-left: 20px;">to do list</h1>
    <nav class="navbar-nav">
        <ul class="nav">
            <li class="nav-item p-3"><a href="#" class="nav-link">all</a></li>
            <li class="nav-item p-3"><a href="#" class="nav-link">to do</a></li>
            <li class="nav-item p-3"><a href="#" class="nav-link">doing</a></li>
            <li class="nav-item p-3"><a href="#" class="nav-link">done</a></li>
        </ul>
    </nav>
</header>