{% extends 'base.html' %}
{% load static %}

{% block body %}
    <section class="container section text-white d-flex justify-content-between align-items-start">
        <main class="to-do p-3 d-flex justify-content-center flex-column text-dark">
            <h1>to do</h1>
            {% for item in item_list_todo %}
                {% include '../partials/card.html' %}
            {% empty %}
                <p>Nenhum item encontrado.</p>
            {% endfor %}
        </main>
        <main class="doing p-3 d-flex justify-content-center flex-column text-dark">
            <h1>doing</h1>
            {% for item in item_list_doing %}
                {% include '../partials/card.html' %}
            {% empty %}
                <p>Nenhum item encontrado.</p>
            {% endfor %}
        </main>
        <main class="done p-3 d-flex justify-content-center flex-column text-dark">
            <h1>done</h1>
            {% for item in item_list_done %}
                {% include '../partials/card.html' %}
            {% empty %}
                <p>Nenhum item encontrado.</p>
            {% endfor %}
        </main>
    </section>
    
{% endblock body %}
