{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="container section text-white d-flex justify-content-center align-items-start">
  <main class="doing p-3 d-flex justify-content-center flex-column text-dark">
      <h1>Criar um card</h1>
      <form action="{% url 'client' person.id %}" method="POST" class="d-flex flex-column gap-2">{% csrf_token %}
        <div class="form-floating">
          <input type="text" class="form-control" name="Title" id="title" placeholder="ex. youremail@aluno.ce.gov.br">
          <label for="title">Titulo da Tarefa</label>
        </div>
        <textarea name="content" placeholder="Conteudo da Tarefa" cols="20" rows="10" class="p-2"></textarea>
        <div class="form-floating">
          <input type="datetime-local" class="form-control" name="due-date" id="due-date"  placeholder="Data Vencimento">
          <label for="due-date">Data de Entrega</label>
        </div>
        <select name="discipline" class="form-select" aria-label=".form-select">
          <option value="" disabled selected>Selecione uma disciplina</option>
          {% for discipline in disciplines %}
            <option value="{{discipline.id}}">{{discipline.name}}</option>
          {% endfor %}
        </select>
        <select name="teacher" class="form-select" aria-label=".form-select">
          {% for teacher in teachers %}
          <option value="" disabled selected>Selecione um professor</option>
            <option value="{{teacher.id}}">{{teacher.name}}</option>
          {% endfor %}
        </select>
        <select name="status" class="form-select" aria-label=".form-select">
          <option value="" disabled selected>Selecione o Estado</option>
          {% for status_value, status_show in status %}
            <option value="{{status_value}}">{{status_show}}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" > Enviar <i class="bi bi-send"></i></button>
    </form>
  </main>
</section>
{% endblock body %}