{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="container section text-white d-flex justify-content-center align-items-start">
  <main class="doing p-3 d-flex justify-content-center flex-column text-dark">
      <h1>Criar um card</h1>
      <form action="{% url 'client' person.id %}" method="POST" class="d-flex flex-column gap-2">{% csrf_token %}
        <input type="text" name="title">
        <textarea name="content" placeholder="Conteudo" cols="30" rows="10"></textarea>
        <input type="datetime-local" name="due-date" placeholder="Data Vencimento">
        <select name="discipline">
          <option value="" disabled selected>Selecione uma disciplina</option>
          {% for discipline in disciplines %}
            <option value="{{discipline.id}}">{{discipline.name}}</option>
          {% endfor %}
        </select>
        <select name="teacher">
          {% for teacher in teachers %}
          <option value="" disabled selected>Selecione um professor</option>
            <option value="{{teacher.id}}">{{teacher.name}}</option>
          {% endfor %}
        </select>
        <select name="status">
          <option value="" disabled selected>Selecione o Estado</option>
          {% for status_value, status_show in status %}
            <option value="{{status_value}}">{{status_show}}</option>
          {% endfor %}
        </select>
        <input type="submit">
    </form>
  </main>
</section>
{% endblock body %}