{% extends 'base.html' %}
{% load static %}

{% block body %}
    <section class="container section text-white d-flex justify-content-between">
        <main class="to-do p-3 d-flex justify-content-center flex-column bg-dark">
            <h1>to do</h1>
            <ul>
                <li>coroi</li>
            </ul>
        </main>
        <main class="doing p-3 d-flex justify-content-center flex-column bg-dark">
            <h1>doing</h1>
            <ul>
                <li>carai</li>
            </ul>
        </main>
        <main class="done p-3 d-flex justify-content-center flex-column bg-dark">
            <h1>done</h1>
            <ul>
                <li>carai</li>
            </ul>
        </main>
    </section>

    
{% endblock body %}